@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@plugin "daisyui";
@theme {
  --font-sans: "Urbanist Variable", "Urbanist", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  --color-primary: #efa36b;
  --color-secondary: #043764;
  --color-neutral: #343434;
  --color-primary-content: #ffffff;
  --color-secondary-content: #ffffff;
  --color-neutral-content: #ffffff;
}
